
#content-wrap {
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.books-container-wrapper {
    text-align: center;
}

.books-container-wrapper ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    zoom:1;
    *display: inline;
    width: 565px; 
    list-style: none;
    line-height: normal; 
}

li {
    padding: 2px 5px;
    margin-bottom: 10px;
    margin-top: 14px;
    font-size: larger;
    
}

li, .card { 
    float: left; 
    width: 150px; 
    margin: 14px;
    background: round; 
    height: 150px;
    padding: 5px;
}

li, .card, .card-title, .card-content {
    background-color: #303030;
    border-radius: 25px;
}


body {        
    padding-top: 80px;
    padding-bottom: 40px;
}

.header {
    width: 100%;   
    background: #101010;
    color: #fff;
    top: 0;
    text-align: left;
    position: fixed;
}

.header h1 {
    background: #101010;
    padding-left: 100px;
}

.container {
    width: 100%;
    margin: 0 auto; 
}

* {
    color: white;
    background-color: #181818;
}

a {
    color: royalblue;
    text-shadow: none;
    background-color: #303030;
}